@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Inter", sans-serif;
    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

p {
    display: inline-block;
}

#barraNavegacao {
    display: flex;
    justify-content: space-between;
    padding: 10px 60px 10px 60px;
    background-color: #F5F5F5;
}

h1 {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    justify-content: space-around;
    padding: 10px;
    color: #828282;
    font-size: 16px;
    font-weight: 400;
}

li:hover {
    cursor: pointer;
    text-shadow: 0.3px 0.3px 0.3px #333333;
}

main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100vh;
    padding: 10px 0px 10px 10px;
}

#listaDeProdutos {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: fit-content;
}

.produto {
    max-width: 30%;
    background-color: #FFFFFF;
    max-height: min-content;
    padding: 5px;
    margin: 3px;
}

.produto:hover {
    box-shadow: 0.1px 1px 1px 0.1px #333333, 0.1px 6px 10px 0.1px #333333;
}

#img {
    background-color: #F5F5F5;
    width: 100%;
    height: 40%;
}

#imagemProduto {
    display: block;
    margin: 0 auto;
    background-color: #F5F5F5;
    margin-bottom: 10px;
    height: 98%;
}

#detalhesProduto {
    background-color: #FFFFFF;
    height: 60%;
}

#categoriaProduto {
    background-color: #2E245E;
    width: 40%;
    padding: 7px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    margin: 7px 0px 0px 7px;
}

#nomeProduto {
    font-weight: 700;
    font-size: 18px;
    margin: 15px 0px;
    color: #333333;
    margin: 7px 0px 0px 7px;
}

#descricaoProduto {
    text-align: left;
    color: #333333;
    margin: 7px 0px 0px 7px;
}

#precoProduto {
    font-size: 12px;
    font-weight: 600;
    color: #2E245E;
    margin: 7px 0px 5px 7px;
}

#precoProduto:hover {
    text-decoration: underline;
}

.linkCarrinho{
    color: #828282;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 500;
    margin: 7px 0px 0px 7px;
    cursor: pointer;
}

#linkCarrinho:hover {
    font-weight: bolder;
}

#sessaoMenuLateral {
    width: 25%;
}

#menuLateral {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

#barraPesquisa {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    justify-content: space-around;
}

input {
    width: 70%;
    background-color: #F5F5F5;
    padding: 10px;
    color: #828282;
}

textarea:focus, input:focus {
    outline: 0;
}


button {
    width: 30%;
    background-color: #6B54DE;
    color: #FFFFFF;
    padding: 10px;
    font-size: 75%;
}

button:hover {
    box-shadow: 0.3px 1px 1px 0.3px #333333, 0.3px 1px 1px 0.3px #333333;
    border-radius: 2px;
    cursor: pointer;
}

#carrinho {
    width: 100%;
    background-color: #6B54DE;
    color: #FFFFFF;
    padding: 15px;
    text-align: center;
}

#carrinho:hover {
    border-radius: 5px 5px 0px 0px;
}

#produtosSelecionados {
    width: 100%;
    background-color: #F5F5F5;
    padding: 25%;
}

#tituloCarrinho {
    font-size: 22px;
    font-weight: 900, bold;
    color: #333333;
}

#mensagemCarrinho {
    font-size: 14px;
    font-weight: 250;
    color: #333333;
}

#total {
    width: 100%;
    height: fit-content;
    background-color: #333333;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 18px 10px;
    visibility: hidden;
}

#total:hover {
    border-radius: 0px 0px 5px 5px;
}

#dados1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 5px;
}

#dados2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 5px;
}

/*Estilização carrinho com produtos*/

.caixaLista {
    padding: 0px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.produtoLista {
    display: grid;
    grid-template-areas: 
    'imagemLista nomeLista'
    'imagemLista precoList'
    'imagemLista remove';
}

.imagemLista {
    width: 100px;
    height: 70px;
    background-color: #FFFFFF;
    grid-area: 'imagemLista';
    grid-row: imagemLista;
    cursor: default;
}

.nomeLista {
    grid-area: 'nomeLista';
    font-weight: 700;
    font-size: 11px;
    color: #333333;
    cursor: default;
}

.precoList {
    grid-area: 'precoList';
    font-size: 10px;
    font-weight: 600;
    color: #2E245E;
    cursor: default;
}

.remove {
    grid-area: 'remove';
    color: #828282;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 500;
}